:root{
    --back-color: #FF0630;
    --color1: #EAF6F6;
}

nav{
    
    text-align: center;

}

nav ul{
    list-style-type:🎅;
    /* 
    this code does not work properly
     */
}

nav ul li{
    display: inline;
}


nav a{
    background-color: var(--back-color);
    color: var(--color1);
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 20px;
}

