:root{
    --color1 : rgb(68, 0, 99);
}

body{
    margin: 0;
}

div.templet{
    padding: 1rem;
    display: flex;

    background-color: var(--color1);

    height: 100vh;

    font-family: 'Open Sans', sans-serif;
}


/* USER LOG IN PART */


div.templet .log{
    background-color: white;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 4;

    position: relative;
}

div.log .go-home{
    position: absolute;
    top: 1.8rem;
    left: 1.6rem;
}

div.log .go-home a{
    text-decoration: none;
    font-size: 100%;
}


div.signin h2{
    font-size: 1.9rem;
    position: relative;
    bottom: 4rem;
}

div.signin form input{
    width: 300px; 
    height: 25px;  
}




div.log .enter {
}

div.log .enter button{
    background-color: var(--color1);
    color: white;

    padding: 1rem 4rem;
    border-radius: 10px;
    border: none;

    font-size: 15px;
    font-weight: bold;

    position: relative;
    top: 7rem;
    
}


/* DESIGN PART */



div.templet .design{
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 6;

    background-image: url("../img/bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

div.templet .design h1{
    margin: 0.5rem 1rem;
    font-size: 3rem;
    z-index: 1;
}

div.templet .design h3{
    margin: 0.5rem 1rem;
    z-index: 1;
}

.design::after{
    content: "";
    background-color: rgb(255, 51, 136);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0.3;
}




