body{
    margin: 0;
}

div.templet{
    padding: 1rem;
    display: flex;

    background-color: rgb(83, 0, 94);

    height: 100vh;

    font-family: 'Open Sans', sans-serif;
}

div.templet .signin{
    background-color: white;

    text-align: center;

    flex: 4;
}

div.templet .design{
    color: white;
    display: flex;
    flex-direction: column;

    background-image: url("../img/bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    justify-content: center;
    align-items: center;

    flex: 6;
}

