ul{
    display: none;
}

/* .cbox{
    display: none;
} */

.menubars{
    cursor: pointer;
}

.cbox:checked + ul{
    display: block;
}

ul.menulist{
    background-color: lightgray;
    list-style-type: "::";
    padding-left:0.8rem ;
    width: 10%;
}

ul.menulist a{
    text-decoration: none;
}


 